@mixin button {
   font-size: 16px;
   text-transform: uppercase;
   color: $black03;
   padding: 0 30px;
   line-height: 54px;
   letter-spacing: 3px;
   border: 2px solid $grey03;
   text-align: center;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s linear;

   &:hover {
      background: $blue01;
      color: $white01;
      border-color: $blue01;
   }
}