@font-face {
   font-family: 'Roboto';
   src: url('../fonts/roboto/Roboto-Regular.eot');
   src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
      url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/montserrat/Montserrat-Bold.eot');
   src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/montserrat/Montserrat-Regular.eot');
   src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Montserrat';
   src: url('../fonts/montserrat/Montserrat-Light.eot');
   src: url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/montserrat/Montserrat-Light.woff') format('woff'),
      url('../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}