// COLORS
$white01: #ffffff;
$white02: #f8f8f8; //above footer bg

$black01: #222222; //header logo, nav
$black02: #333333; //nav submenu sale, above footer sale, footer bg
$black03: #454647; //banner button, gallery button

$grey01: #575153; //nav submenu title, gallery title, contact title
$grey02: #727272; //nav submenu text, items title, gallery description, contact item
$grey03: #737373; //banner's, gallery's link border
$grey04: #9a9a9a; //items price(below banner)
$grey05: #8e8c8c; //items description
$grey06: #989898; //search text, icon
$grey07: #e7e7e7; //search border
$grey08: #777777; //footer text
$grey09: #eeeeee; //auth border divider
$grey10: #8c8c8c; //product attr value

$blue01: #00c8c8; //nav link, gallery button on hover

$red01: #bb5465; // input error
$red02: #fcf6f7; //input error background

// FONTS
$font-stack: 'Montserrat',
sans-serif;

// FONT-SIZE
$primary-font-size: 10px;

// FONT-WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// SITE WIDTH
$site_width: 1170;