.footer {
   &-content {
      padding: 80px 0 55px;
      background: $white02;
   }

   &-contact {
      @include site_width;

      margin-bottom: 100px;

      &-list {
         display: flex;
      }

      &-item {
         width: percentage(234, 1170);
      }

      &-title {
         color: $grey01;
         font-size: 13px;
         text-transform: uppercase;
         font-weight: $regular;
         margin-bottom: 30px;
      }

      &-subitem {
         &+& {
            margin-top: 16px;
         }
      }

      &-text,
      &-sublink,
      &-link {
         font-size: 14px;
         color: $grey02;
         font-weight: $light;
      }

      &-text {
         line-height: 20px;
      }

      &-sublink {
         &:hover {
            color: $blue01;
         }
      }
   }

   &-banner {
      @include site_width;

      display: flex;
      justify-content: space-between;

      &-container {
         width: percentage(570, 1170);
         padding: 60px 0;
      }

      &-award {
         text-align: center;
         background: $black02;
      }

      &-socials {
         display: flex;
         background: $blue01;
      }

      &-title {
         font-size: 36px;
         color: $white01;
         font-weight: $bold;
         text-transform: uppercase;
         margin-bottom: 15px;
      }

      &-text {
         font-size: 36px;
         color: $white01;
         font-weight: $regular;
         text-transform: uppercase;
         letter-spacing: 1px;
      }

      &-list {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-grow: 1;
      }

      &-item {
         &+& {
            margin-left: percentage(45, 570);
         }
      }

      &-link {
         &::before {
            font-size: 36px;
            color: $white01;
         }
      }

      &-facebook {
         @include icon(facebook);
      }

      &-twitter {
         @include icon(twitter);
      }

      &-instagram {
         @include icon(instagram);
      }

      &-pinterest {
         @include icon(pinterest);
      }
   }
}

.copyright {
   background: $black02;

   &-inner {
      @include site_width;

      min-height: 45px;
      display: flex;
      align-items: center;
   }

   &-author {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;
   }

   &-text {
      color: $grey08;
      font-size: 13px;
      font-weight: $regular;

      &+& {
         margin-left: percentage(35, 1170);
      }
   }
}